header > div.row > div {
    padding: 0 15px;
    margin: 20px 0;
}

    header > div.row > div > img {
        float: right;
    }

body {
    background-color: #BDD5D5;
}

.container {
    max-width: 600px;
}

footer {
    margin-top: 40px;
}

#my-carousel.carousel {
    margin-top: 20px;
}

    #my-carousel.carousel > .carousel-inner {
        margin-bottom: 20px;
    }

        #my-carousel.carousel > .carousel-inner .carousel-caption {
            width: 100%;
            background: black;
            opacity: 0.40;
            position: static;
            padding: 5px;
            text-align: right;
            padding-right: 20px;
        }

            #my-carousel.carousel > .carousel-inner .carousel-caption * {
                margin: 0;
                padding: 0;
            }

    #my-carousel.carousel > .carousel-control {
        background-image: none;
    }

.carousel-thumbnails img {
    cursor:pointer;
}