
<address>
    <ul class="list-unstyled">
        <li>Victoria Hollingum</li>
        <li><a href="tel:+1-778-867-1367"></a></li>
        <li><a href="mailto:victoria.hollingum@gmail.com"></a></li>
    </ul>
</address>