@model mvcWebApp.Models.Gallery

<div class="container">
    
    <section>    

        @Html.Partial("_Progression", Model.Progressions)

        @Html.Partial("_Thumbnails", Model.Thumbnails)

    </section>

</div>