
html, body {
    background-color: black;
    color: white;
    font-family: Arial;
}

address a::after {
    content: attr(href);
}

/* Carousel */
.carousel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.carousel-inner > .item > img {
    margin: auto;
}
